.social {
    padding-left: 4.75em;
    padding-top: 2.5em;
    .social__logo {
        @include width-height(1em, 1em);
        background: {
            position: center center;
            size: cover;
        }
    }
    .social__logo_theme_1 {
        background-image: $icon_4;
        @include width-height(1.75em, 1.75em);
    }
    .social__logo_theme_2 {
        background-image: $icon_5;
    }
    .social__logo_theme_3 {
        background-image: $icon_6;
    }
    .social__logo_theme_4 {
        background-image: $icon_7;
    }
}