.startup-title {
    @include width-height(inherit, 5.75em);
    @include display-flex(column, null, center, center);
    margin-top: 6.25em;
}
.startup-title__title {    
    font: normal 1.5em $font_1;
    color: $color_3;
}
.startup-title__title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 1.25em; /* This creates some space between the element and the border. */
    border-bottom: 0.1em solid $color_2; /* This creates the border. Replace black with whatever color you want. */
}
.startup-title__subtitle {
    font: normal 1em $font_2;
    color: $color_3;
}