// COLORS
$color_1: #fff;
$color_2: #000;
$color_3: #8b8b8b;
$color_4: #898989;
$color_5: #555;
$color_6: #c44637;
$color_7: #c0301c;
$color_8: #969696;
$color_9: #dddddd;
$color_10: #f8f8f8;
$color_11: #c0301c;

// FONTS
$font_main: 'Times New Roman', Times, serif;
$font_1: 'Montserrst';
$font_2: 'RobotoSlab';

$font-size-base: 16px;

// ICONS
$icon_1: url(../assets/img/icon-letter-A.png);
$icon_2: url(../assets/img/icon-arrows.png);
$icon_3: url(../assets/img/icon-safety.png);
$icon_4: url(../assets/img/logo-facebook.png);
$icon_5: url(../assets/img/logo-google.png);
$icon_6: url(../assets/img/logo-tweeter.png);
$icon_7: url(../assets/img/logo-linkedin.png);


// IMAGES
$background_1: url(../assets/img/bg-header.png);
$background_2: url(../assets/img/bg-project.png);
$image_1: url(../assets/img/about-photo-1.png);
$image_2: url(../assets/img/about-photo-2.png);
$image_3: url(../assets/img/about-photo-3.png);
$image_4: url(../assets/img/about-photo-4.png);
$image_5: url(../assets/img/work-1.png);
$image_6: url(../assets/img/work-2.png);
$image_7: url(../assets/img/work-3.png);
$image_8: url(../assets/img/work-4.png);
$image_9: url(../assets/img/work-5.png);
$image_10: url(../assets/img/work-6.png);
$image_11: url(../assets/img/work-7.png);
$image_12: url(../assets/img/work-red-curtain.png);
$image_13: url(../assets/img/blog-img_1.png);
$image_14: url(../assets/img/blog-img_2.png);
$image_15: url(../assets/img/blog-date_1.png);


// SCREEN
$media-type_1: screen;

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;
$screen-xxl: 1400px;