@import 'sass/base/_normalize.scss';
@import 'sass/helpers/_mixins.scss';
@import 'sass/helpers/_variables.scss';
@import 'sass/layout/_startup-title.scss';
@import 'sass/layout/_startup-social.scss';
*{
    font-size: $font-size-base;
    @media #{$media-type_1} and (max-width: $screen-sm) {
        font-size: $font-size-base - 6px;
        padding: 0;
        margin: 0; 
    }
}
body {
    @include width-height(100%);
    font-size: $font-size-base;
    padding: 0;
    margin: 0;    
}
.wrapper {
    @include width-height();
}
// HEADER
.header {
    @include width-height(100%, 49.125em);
    background: {
        position: center center;
        size: cover;
        image: $background_1;
    }
    @include display-flex(row, nowrap, center);
.header__container {
    @include width-height(71.25em);
    @include display-flex(column, null, null, center);
}
.header__upper {
    @include width-height(100%, 1.43em);
    @include display-flex(row, nowrap, space-between);
    margin-top: 2.5em;
}
.header__logo {
    font: bold 1.5em '$font_1';
    color: $color_1;
}
.header__nav {
    @include width-height(33.75em);
}
.header__ul {
    @include width-height();
    @include display-flex(row, nowrap, space-between); 
}
.header__li {		
    list-style: outside none;
}
.header__a {
    text: {
        decoration: none;
        transform: capitalize;
    }
    font: regular 0.875em '$font_1';
    color: $color_1;
}
.header__lower {
    @include width-height(100%);
    @include display-flex(column, null, center, center);
}
.header__title {
    font: bold 3em '$font_2';
    color: $color_1;
}
.header__subtitle {
    font: regular 1.25em '$font_2';
    color: $color_1;
}
.header__link {
    border: solid 0.1em $color_1;
        padding: 1em 2em;
        margin-top: 3.2em;
        font: regular 1em '$font_1';
        text: {
            transform: uppercase;
            decoration: none;
        }
        color: $color_1;        
}
    @media #{$media-type_1} and (max-width: $screen-lg) {
        @include width-height(100%);
        .header__logo {
            display: none;
        }
        .header__nav {
            @include width-height(100%);
        }
        .header__ul {
            @include display-flex(row, nowrap, space-around); 
        }
        .header__title {
            font-size: 2em;
            padding-top: 1em;
        }
        .header__subtitle {
            font-size: 1.2em;
        }
        .header__link {
            border: solid 0.1em $color_1;
                padding: 0.8em 1.5em;
                margin: 1.2em 0;      
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) and (max-width: $screen-xl) {
        @include width-height(100%);
        .header__logo {
            margin-left: 2em;
        }
        .header__nav {
            @include width-height(90%);
        }
        .header__ul {
            @include display-flex(row, nowrap, space-around); 
        }
        .header__title {
            font-size: 2em;
            padding-top: 1em;
        }
        .header__subtitle {
            font-size: 1.2em;
        }
        .header__link {
            border: solid 0.1em $color_1;
                padding: 0.8em 1.5em;
                margin: 1.2em 0;      
        }

    }
    @media #{$media-type_1} and (min-width: $screen-xl) and (max-width: $screen-xxl) {
        @include width-height(100%);
        &__lower {
            @include width-height(100%);
            @include display-flex(column, null, null, center);
            padding-top: 6em;
        }
        &__link {
            margin-bottom: 3em;
        }
    }
}
// SERVICES
.services {
    @include width-height(100%, 35.25em);
    @include display-flex(row, nowrap, center);
    background-color: $color_1;    
    &__container {
        @include width-height(71.25em);
        @include display-flex(column, null, null, center);
    }    
    &__description {
        @include width-height(inherit, 19.875em);
        @include display-flex(row, nowrap, space-between);
    }
    &__service {
        @include width-height(32%);
        @include display-flex(column, null, center, center);
    }
    &__icon {
        @include width-height(5.625em, 5.625em);
        background: {
            position: center center;
            size: cover;
        }
    }
    &__icon_theme_letter {
        background-image: $icon_1;
    }
    &__icon_theme_arrows {
        background-image: $icon_2;
    }
    &__icon_theme_safety {
        background-image: $icon_3;
    }
    &__title, .services__text {
        text-align: center;
    }
    @media #{$media-type_1} and (max-width: $screen-xl) {
        @include width-height(100%, auto);
        background-color: $color_1;    
    &__container {
        @include width-height(100%);
        @include display-flex(column, null, null, center);
    }    
    &__description {
        @include width-height(100%);
        @include display-flex(row, nowrap, space-around);
        padding-top: 3em;
    }
    }
}
// ABOUT
.about {
    @include width-height(100%, 53.25em);
    @include display-flex(row, nowrap, center, center);
    &__container {
        @include width-height(71.25em);
    }
    &__info-container {
        padding-top: 4em;
        @include width-height(null, 37em);
        @include display-flex(row, null, space-between, center);
    }
    &__left-side, &__right-side {
        @include width-height(48.68%);
    }
    &__text {
        @include width-height(null, 11.625em);        
    }
    &__info {
        @include width-height(100%, 19.437em);
        @include display-flex(row, null, space-between, center);
    }
    &__bio {
        @include width-height(16.375em, 19.437em);
        @include display-flex(column, null, center, center);
    }
    &__img {
        @include width-height(16.25em, 15.625em);
        background: {
            position: center center;
            size: cover;
            color: $color_4;            
        }
    }
    &__name {
        padding-top: 1em;
        font: normal 0.9em $font_1;
        color: $color_4;
    }
    &__position {
        font: normal 0.8em $font_2;
        color: $color_4;
    }
    &__img-1 {
        background-image: $image_1;
    }
    &__img-2 {
        background-image: $image_2;
    }
    &__img-3 {
        background-image: $image_3;
    }
    &__img-4 {
        background-image: $image_4;
    }
    &__img_position_center-left {
        padding-top: 6.5em;
    }
    &__img_position_center-right {
        padding-top: 6.5em;
        margin-left: 87%;
    }
    &__social {
        margin-left: 35%;
        margin-top: 15%;
    }
    @media #{$media-type_1} and (max-width: $screen-lg) {
        @include width-height(inherit, 33em);
        &__container {
            @include width-height(100%, auto);
        }
        &__info-container {
        padding-top: 2em;
        @include width-height(inherit, auto);
        @include display-flex(column, null, space-between, center);
        }
        &__left-side, &__right-side {
            @include width-height(90%);
        }
        &__info {
            display: none;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) and (max-width: $screen-xl) {
        @include width-height();
        &__container {
            @include width-height(100%, auto);
        }
        &__info-container {
        @include width-height(100%, auto);
        @include display-flex(row, null, center, center);
        }
        &__left-side, &__right-side {
            @include width-height(50%);
        }
        &__bio {
            width: 50%;
        }
        &__img {
            width: 14.625em;
        }
        &__img_position_center-right {
            margin-left: 84%;
        }
        &__text {
            padding: 0 1em;
        }
    }
}
// WORKS
.works {
    @include width-height(100%, 86.31em);
    @include display-flex(row, nowrap, center);
    &__container {
        @include width-height(71.25em);
        @include display-flex(column, null, null, center);
    }
    &__header {
        @include width-height(100%, 16.3em);
        @include display-flex(column, null, null, center);
    }    
    &__title {
        padding-top: 6em;
        text-align: center;
    }
    &__title:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 50%; /* Change this to whatever width you want. */
        padding-top: 1.25em; /* This creates some space between the element and the border. */
        border-bottom: 0.1em solid $color_2; /* This creates the border. Replace black with whatever color you want. */
    }
    &__nav {
        @include width-height(26em, 1.2em);
        @include display-flex(row, nowrap, space-between, center);
    }
    &__link {
        text-decoration: none;
        color: $color_5;
        font: normal 1em $font_2;
    }
    &__content {
        @include width-height(100%, 63.75em);
        @include display-flex(row, wrap, space-between, center, space-between);
    }
    &__work {
        @include width-height(22.562em, 20.125em);
        background: $color_3;        
    }
    &__img-1 {
        background-image: $image_5;
    }
    &__img-2 {
        background-image: $image_6;
    }
    &__img-3 {
        background-image: $image_7;
    }
    &__img-4 {
        background-image: $image_8;
    }
    &__img-5 {
        background-image: $image_9;
    }
    &__img-6 {
        background-image: $image_10;
    }
    &__img-7 {
        background-image: $image_11;
    }
    &__img-8 {
        background-image: $image_5;
    }
    &__img-9 {
        background-image: $image_6;
    }
    @media #{$media-type_1} and (max-width: $screen-md) {
        @include width-height(null, auto);
        &__container {
            @include width-height(null, auto);
        }
        &__content {
            @include width-height(null, auto);
            @include display-flex(column, nowrap, center, center, center);
        }
        &__work {
            margin: 1em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) and (max-width: $screen-xl) {
        @include width-height(null, auto);
        &__container {
            @include width-height(null, auto);
        }
        &__content {
            @include width-height(null, auto);
            @include display-flex(row, wrap, center, center, center);
        }
        &__work {
            margin: 1em;
        }
    }
}
// PROJECT
.project {
    @include width-height(100%, 23em);
    background: $background_2;
    @include display-flex(column, nowrap, center, center);
    &__title, &__subtitle {
        font: normal 1.1em $font_2;
        color: $color_1;
    }
    &__link {
        margin-top: 3.25em;
        padding: 0.6em 2em;
        background-color: $color_1;
        color: $color_6;
        text-decoration: none;
    }
}
// BLOG
.blog {
    @include width-height(100%, 67.5em);    
    @include display-flex(row, nowrap, center, center);
    &__container {
        @include width-height(71.25em);
        @include display-flex(column, null, null, center);        
    }
    &__line {
        background-color: $color_9;
        width: 100%;
    }
    &__title {
        padding-top: 6em;
        font: normal 1.4em $font_1;
        color: $color_5;
    }
    &__title:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 25%; /* Change this to whatever width you want. */
        padding-top: 1.25em; /* This creates some space between the element and the border. */
        border-bottom: 0.1em solid $color_2; /* This creates the border. Replace black with whatever color you want. */
    }
    &__subtitle {
        font: normal 1em $font_2;
        color: $color_5;
    }
    &__content {
        @include width-height(inherit, 20.2em);
        @include display-flex(row, nowrap, space-between, center);
        margin-top: 4.5em;
        margin-bottom: 4.5em;
    }
    &__img {
        @include width-height(28.75em, 21.062em);
        background-color: $color_3;
    }
    &__img_theme_table {
        background: $image_14;
    }
    &__img_theme_stationary {
        background: $image_13;
    }
    &__info {
        @include width-height(40em);
        @include display-flex(column, nowrap);
    }
    &__info-header {
        @include display-flex(row, nowrap, flex-start, center);
        padding-bottom: 1.5em;
    }
    &__info-img {
        @include width-height(4.75em, 4.75em);
        background: $image_15;
        margin-right: 2em;
        border: solid 0.05em $color_2;
    }
    &__info-title {
        @include display-flex(column, nowrap, left, left);
        
    }
    &__header-title {
        margin: 0;
        padding-bottom: 1em;
        font: normal 1em $font_1;
        color: $color_5;
    }
    &__header-title:hover {
        color: $color_7;
    }
    &__header-subtitle {
        margin: 0;
        font: normal 0.9em $font_2;
        font-style: italic;
        color: $color_8;
    }
    &__info-link {
        text-decoration: none;
        color: $color_8;
    }
    &__info-link:hover {
        text-decoration: none;
        color: $color_7;
    }
    &__text {
        font: normal 1em $font_2;
        color: $color_8;        
    }
    &__link{
        margin-top: 1em;
        font: bold 0.8 $font_2;
        text-decoration: none;
        color: $color_5;
    }
    &__link:hover{
        text-decoration: none;
        color: $color_7;
    }
    @media #{$media-type_1} and (max-width: $screen-sm) {
        @include width-height(100%, auto);
        &__container {
            @include width-height(inherit, auto);
        }
        &__content {
            @include width-height(inherit, auto);
            @include display-flex(column, nowrap, space-between, center);
            margin-bottom: 0;
        }
        &__info {
            @include width-height(inherit, auto);
            padding-top: 2em;
        }
        &__info-header {
            @include display-flex(row, nowrap, center, center);
            @include width-height(100%);
        }
        &__text {
            @include width-height(80%);
            margin: 0 auto;
        }
        &__link {
            margin: 0 auto;
            padding-top: 2em;
        }
        &__info-img {
            @include width-height(7em, 7em);
        }       
    }
    @media #{$media-type_1} and (min-width: $screen-sm) and (max-width: $screen-lg) {
        @include width-height(100%, auto);
        &__container {
            @include width-height(inherit, auto);
        }
        &__content {
            @include width-height(inherit, auto);
            @include display-flex(column, nowrap, space-between, center);
            margin-bottom: 0;
        }
        &__info {
            @include width-height(inherit, auto);
            padding-top: 2em;
        }
        &__info-header {
            @include display-flex(row, nowrap, center, center);
            @include width-height(100%);
        }
        &__text {
            @include width-height(80%);
            margin: 0 auto;
        }
        &__link {
            margin: 0 auto;
            padding-top: 2em;
        }
        &__info-img {
            @include width-height(4.75em, 4.75em);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) and (max-width: $screen-xl) {
        @include width-height(100%, auto);
        &__container {
            @include width-height(inherit, auto);
        }
        &__content {
            @include width-height(90%, auto);
            @include display-flex(row, nowrap, space-between, center);
        }
        &__info {
            padding: 0 2em;
        }
    }
}
// COMPANIES
.companies {
    @include width-height(100%, 29.68em);
    background-color: $color_10;
    @include display-flex(column, nowrap, null, center);
    margin-top: 4em;
    &__logos {
        @include width-height(58em, auto);
        @include display-flex(row, null, space-between,center);        
        padding: 5.93em 0 4.9em;
    }
    &__quote {
        text-align: center;
        font: normal 1.1em $font_2;
        font-style: italic;
    }
    &__quote_margin-bottom_zero {
        margin-bottom: 0;
    }
    &__quote-author {
        margin-top: 2.5em;
        font: normal 1.3em $font_2;
    }
    @media #{$media-type_1} and (max-width: $screen-md) {
        @include width-height(100%, auto);
        &__logos {
            @include width-height(100%, auto);
            @include display-flex(column, null, space-between,center);
        }
        &__logo {
            padding: 1em 0;
        }
        &__buttons {
            padding: 2em;
        }
        &__address {
            
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) and (max-width: $screen-lg) {
        @include width-height(100%, auto);
        &__logos {
            @include width-height(95%);
            padding: 2em 0;
        }
        &__quote-author {
            margin-top: 1.5em;
        }
        &__buttons {
            padding-bottom: 2em;
        }
    }
}
// CONTACTS
.contacts {
    @include width-height(100%);
    background-color: $color_1;
    @include display-flex(column, nowrap, null, center);
    &__title {
        padding-top: 4em;
        font: normal 1.3em $font_2;
    }
    &__title:after {
        content: "";
        display: block;
        width: 50%;
        margin: 0 auto;
        padding-top: 1em;
        border-bottom: 0.1em solid $color_4;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    &__subtitle {
        font: normal 1em $font_2;
        margin-bottom: 0;
    }
    &__container {
        @include display-flex(row, null);
        @include width-height(71.25em, auto);        
        padding: 4.5em 0 2em;
    }
    &__address-container {
        @include display-flex(column);
        @include width-height(17em, auto);
    }
    &__address {
        @include display-flex(row, null, start);
        @include width-height(17em, auto);
    }
    &__icon {
        @include width-height(1em, auto);
        padding-right: 2em;
    }
    &__text {
        @include display-flex(column);
        padding-bottom:  1.5em;
    }
    &__text-1 {
        padding-top: 0.3em;
        font: normal 0.875em $font_1;
        color: $color_5;
    }
    &__text-2 {
        font: normal 0.75em $font_2;
        color: $color_3;
    }
    &__text-2_margin-bottom_less {
        margin-bottom: 0.5em;
    }
    &__text-2_margin-bottom_zero {
        padding-bottom: 0em;
    }
    &__form {
        @include width-height(46em, 19em);
        @include display-flex(column);
    }
    &__fields {
        @include display-flex(row, wrap, space-between);
    }
    &__input {
        @include width-height(26em, 3.5em);
        margin-bottom: 1.5em;
        padding-left: 1.5em;
        font: normal 0.8em $font_2;
        border: solid 0.1em $color_3;
    }
    &__textarea {
        @include width-height(100%, 6.4em);
        font: normal 0.8em $font_2;
        resize: none;
        margin-bottom: 1.3em;
        padding-left: 1.5em;
    }
    &__link {
        background-color: $color_11;
        color: $color_1;
        text-decoration: none;
        padding: 1em 2em;
        font: normal 0.8em $font_2;
    }
    &__memo {
        padding: 2em 0 0 2em;
    }
    &__fields_justify_left {
        @include display-flex(row, nowrap, left, center);
    }
    @media #{$media-type_1} and (max-width: $screen-lg) {
        @include width-height(100%, auto);
        &__container {
            @include width-height(100%, auto);
            @include display-flex(column, nowrap, left, center);
        }
        &__address-container {
            @include display-flex(row);
            @include width-height(100%, auto);
        }
        &__form {
            @include width-height(90%, auto);
        }
        &__address {
            @include display-flex(row, null, center);
        }
        &__link {
            text-align: center;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) and (max-width: $screen-xl) {
        @include width-height(100%, auto);
        &__container {
            @include width-height(100%, auto);
            @include display-flex(row, null, space-around);
        }
        &__address {
            @include width-height(auto, auto);
        }
        &__address-container {
            @include width-height(auto, auto);
        }
    }
}
// FOOTER
.footer {
    @include width-height(100%, 19.18em);   
    @include display-flex(column, nowrap, center, center);
    background-color: $color_7;
    &__social {
        @include width-height(auto, auto);
        @include display-flex(row, wrap, center, center);
    }
    &__social:after {
        content: "";
        display: block;
        width: 25%;
        padding-top: 1.9em;
        margin: 0 auto;
        border-bottom: solid 0.1em $color_1;
    }
    &__icon {
        padding: 0 0.5em;
    }
    &__copyright {
        padding-top: 1.9em;
        font: normal 0.8em $font_2;
        text-transform: uppercase;
        color: $color_1;
    }
}